<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <action id="ru.altcourse.lab.network-manage">
    <description>Управление сетевыми настройками (лаб)</description>
    <message>Для управления сетью требуется аутентификация</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="ru.altcourse.lab.system-update">
    <description>Обновление системы (лаб)</description>
    <message>Для обновления системы требуется аутентификация</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>no</allow_active>
    </defaults>
  </action>

  <action id="ru.altcourse.lab.service-restart">
    <description>Перезапуск служб (лаб)</description>
    <message>Для перезапуска службы требуется аутентификация</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

</policyconfig>
